body {
        background-color:#141513;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: large;
        text-decoration-color: white;
}
.mainline{font-size:81px;}

/* Add a black background color to the top navigation */
.topnav {
  background-color:#30312f;
  overflow: hidden;
  font-size: inherit;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6bb94a;
  color: white;
}
a#icon {
    padding-top: 0px;
    padding-bottom: 0px;
    height: fit-content;
   background-color:white;
   color: white;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: #212121;
  color: white;
}

/* Style the submit button with a specific background color etc */
#submit {
  background-color: #6bb94a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
#submit:hover {
  background-color: #96ab25;
}


/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #141513;
  border: 2px solid gray;
  padding: 20px;
  color: #6bb94a;
}
.container1 {
  margin-left: auto;
  margin-right: auto;
  background-color: #6bb94a;
  padding: 20px;
  color: black;
  height:250px;
}
.container1a {
  float:left;
  width:55%;
  background-color: #6bb94a;

}
.container1b {
  float:right;
  width:250px;
  vertical-align: middle;
  background-color: #6bb94a;
}
.gif1{width:inherit;}
.container2{
  border-radius: 5px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #141513;
    /*border: 2px solid gray;*/
  padding: 20px;
  color: #6bb94a;
      height: max-content;
}
.container2b {
  border-radius: 5px;
  width: 30%;
  float:right;
  background-color: #141513;
    /*border: 2px solid gray;*/
  padding: 20px;
  color: #6bb94a;
}
.container2a {
  float:left;
  border-radius: 5px;
  width: 55%;
  background-color: #141513;
  /*border: 2px solid gray;*/
  padding: 20px;
  color: White;
}
.vl{width:2px;
  border-left: 2px solid white;
  float:left;
  margin-left: -3px;
  height: 650px;
  top: 0;}

.container3{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #141513;
    border-top: 1px solid gray;
    color: #696969;
    font-size: small;
    position:fixed;
    height:15px;
    bottom:0;
  }
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float:center;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #fdfefd;
  color: #6bb94a;
}

.container5 {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.imagehkv{border-radius: 15px;}
